# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/.kotlin/
android/app/google-services.json
android/local.properties

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
venv/
python/.env
python/models/
python/service_account.json

# Environment Secrets
.env
.env.local
.env.*

# Large Build Files
android/.gradle/
**/executionHistory.bin
**/fileHashes.bin
**/last-build.bin
